.disclaimer
{
    display: none;
}

html
{
	box-sizing: border-box;
	/*font-size: 62.5%;*/
}

*, *:before, *:after
{
	box-sizing: inherit;
	margin: 0;
}

.contenedor 
{
	width: min(100%, 140rem);
	margin: 0 auto;
}

a 
{
	text-decoration: none;
}

a:visited
{
	color: inherit;
}

h1, h2, h3, h4
{
	line-height: 1.2;
	margin: 0;
}

h1 
{
	font-size: 4.8rem;
}

h2 
{
	font-size: 4rem;
}

h3 
{
	font-size: 3.2rem;
}

h4 
{
	font-size: 2.8rem;
}

img
{
	max-width: 100%;
}