:root
{
	--fuentePrincipal: 'Source Sans Pro', sans-serif;
	--colorFondo:  #e0e0e0;
	--colorBlanco:  #ffffff;
	--colorNegro:  #141414;
	--colorNaraja: #F66700;
	--colorGreen:  #2DCC71;
	--colorGris:  #bbbbbb;
}

body
{
	font-family: var(--fuentePrincipal);
	font-size: 1rem;
	background-color: var(--colorFondo);
}


/*
		estilos para el header
*/

.header
{
	background-color: var(--colorBlanco);
	width: 100%;
	padding: 0 1rem;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	-webkit-box-shadow: 0px 1px 46px -18px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 46px -18px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 46px -18px rgba(0,0,0,0.75);
}

.header__interno
{
	width: 100%;
}

@media (min-width:  1440px)
{
	.header__interno
	{
		width: 1400px;
		margin: 0 auto;
	}
}

.header__principal
{
	overflow: hidden;
}

@media (min-width:  600px)
{
	.header__principal
	{
		display: grid;
		grid-template-columns: 20% 80%;
	}
}

.header__titulo
{
	width: 10rem;
	height: 3.5rem;
	overflow: hidden;
}

.header__titulo-img
{
	
	padding: 1rem 0.5rem;
}

.header__buscador
{	
	width: 100%;
	position: relative;	
	overflow: hidden;
	margin: 1rem 0;
}

.input__buscar
{
	width: 100%;
	margin: 0 auto;
	padding: 0.7rem 3rem 0.7rem 0.7rem;
	border-radius: 5px;
	border: 2px solid var(--colorGris);
	outline: none;
	transition: border .5s;
}

@media (min-width: 600px)
{
	.input__buscar
	{
		width: 50%;	
		float: right;		
	}
}

.input__buscar:focus
{
	border: 2px solid var(--colorNaraja);	
}

.icon__search
{
	position: absolute;
	top: 0.7rem;
	right: 0.7rem;
	font-size: 1.5rem;
	color: var(--colorGris);
}

.titulo__filtro
{
	font-size: 1.2rem;
	font-weight: 600;
	padding: 1rem;
	display: inline-block;
}

.close__menu,
.open__menu
{
	float: right;
	font-size: 1.5rem;
	padding: 1rem;
	cursor: pointer;
}

.open__menu:hover,
.close__menu:hover
{
	color: var(--colorNaraja);
}

.open__menu
{
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
}

@media (min-width: 600px)
{
	.icon__menu
	{
		display: none;
	}
}

.nav__filtro
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	overflow: hidden;
	background: var(--colorBlanco);
	transition: height .5s;
}

.nav__filtro.mostrar 
{
	height: 100%;	
}

@media (min-width:  600px)
{
	.nav__filtro
	{
		position: relative;
		display: block;
		height: auto;
	}
}

.contenedor__filtro
{
	padding: 0;
	margin: 0;
	text-align: center;
	clear: both;
	overflow: hidden;
}

@media (min-width:  600px)
{
	.contenedor__filtro
	{
		width: auto;
		margin: 0 auto;
	}
}

.filtros
{
	list-style-type: none;
	padding: 1rem;
	display: inline-block;
	cursor: pointer;
	width: 100%;
	height: auto;
	font-weight: 600;
	border-bottom: 2px solid transparent;
}

@media (min-width:  600px)
{
	.filtros
	{
		float: left;
		width: auto;
	}
}

.filtros:hover
{
	background: var(--colorNaraja);
}

@media (min-width:  600px)
{
	.filtros:hover
	{
		background: none;
		border-bottom: 2px solid var(--colorNaraja);
	}
}


.main
{
	width: 98%;
	margin: 9rem auto 0 auto;
	min-height: 30rem;
	border-radius: 5px;
	overflow: hidden;
}

@media (min-width:  1440px)
{
	.main
	{
		width: 1440px;
	}
}

/*

	estilos para los productos

*/

.contenedor__productos
{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;
	padding: 1rem;
}

@media (min-width:  500px)
{
	.contenedor__productos
	{
		grid-template-columns: repeat(2, 1fr);
	}	
}

@media (min-width:  768px)
{
	.contenedor__productos
	{
		grid-template-columns: repeat(3, 1fr);
	}	
}

@media (min-width:  1200px)
{
	.contenedor__productos
	{
		grid-template-columns: repeat(4, 1fr);
	}	
}

@media (min-width:  1300px)
{
	.contenedor__productos
	{
		grid-template-columns: repeat(5, 1fr);
	}	
}

.producto
{
	width: 100%;
	background: var(--colorBlanco);
	padding: 1rem;
	text-align: center;
	border-radius: 5px;
}

.contenedor__img
{
	width: 100%;
	height: 10rem;
	overflow: hidden;
}

.producto__img
{
	width: auto;
	height: 100%;
	margin: 0 auto;
}

.producto__info
{
	font-size: 1.4rem;
	font-weight: 600;
}

.precio
{
	color: var(--colorNaraja);
}

.form__cantidad
{
	width: 7rem;
	padding: 0.5rem;
	margin: 1rem auto 0 auto;
	overflow: hidden;
	text-align: center;
}

.input__cantidad
{
	width: 3rem;
	height: 2.5rem;
	padding: 0 0.5rem;
	text-align: center;
	border-radius: 5px;
	border: 2px solid var(--colorGris);
	outline: none;
	transition: border .5s;
}

.input__cantidad:focus
{
	border: 2px solid var(--colorNaraja);	
}

.input__cantidad,
.boton__cantidad
{
	float: left;
}

.boton__cantidad
{
	width: 2.5rem;
	height: 2.5rem;
	line-height: 2.2;
	border-radius: 100%;
	border: none;
	background: var(--colorNaraja);
	color: var(--colorBlanco);
	margin-left: 0.5rem;
	cursor: pointer;
}

.boton__cantidad:hover
{
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);

}

/*

	estilos del loader

*/

#contentLoader
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: rgba(0,0,0,.7);
  text-align: center;
  -webkit-transition: all .9s;
  -moz-transition: all .9s;
  -o-transition: all .9s;
  -ms-transition: all .9s;  
}

#contentLoader.ocultar
{
  display: none;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: 50%;
  margin-top: -40px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
  background: #bbdefb;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
  background: #42a5f5 ;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
  background: #1976d2;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
  background: #0d47a1;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}